* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  background-image: url('colorful-planets.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: #161b22;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 15px;
}

h1 {
  font-size: 28px;
  color: #ffffff;
  margin: 0;
}

main {
  padding: 40px 20px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.welcome-section h2 {
  font-size: 36px;
  color: #e07c2a;
}

.welcome-section p {
  font-size: 18px;
  margin: 20px 0;
  color: white;
}

.git-commands h3 {
  margin: 30px 0 15px;
  font-size: 1.7rem;
  color: #e07c2a;
}

.git-commands ul {
  list-style-type: none;
  padding-left: 0;
}

.git-commands li {
  background-color: #161b22;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #30363d;
  border-radius: 6px;
  color: #c9d1d9;
  transition: background-color 0.3s, transform 0.3s;
}

.git-commands li:hover {
  background-color: #21262d;
  transform: scale(1.02);
}

.student-commit-section {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(139, 136, 136, 0.3);
  margin-top: 50px;
  min-height: 100px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.student-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}


.student-commit-section h3 {
  margin: 40px 0 20px;
  color: #e07c2a;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0.85;
}

.student-names {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.name-box {
  padding: 20px;
  color: #c9d1d9;
  font-size: large;
  font-weight: bolder;
  transition: transform 0.3s, background-color 0.3s;
}

.name-box:hover {
  transform: scale(1.05);
}

.commit-btn {
  background-color: #238636;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.commit-btn:hover {
  background-color: #2ea44f;
  transform: scale(1.05);
}

footer {
  background-color: #161b22;
  color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer a {
  color: #e07c2a;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
